.caixa_Texto{
    width: 30%;
    height: 700px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    border-radius:20px ;
    margin-left: 100px;
    position: absolute;
}
.submitText{
    width: 60%;
    height: 40px;
    background-color: #2E2E2E;
    border-radius:10px ;
    outline: 0;
    border: 1px solid #1E1E1E;
    padding-left: 10px ;
    color: #fbfbfb;
    font-family: Mont;
    font-weight: 500;
}
.conteiner_inp_btn{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
   

}
.btnEnv{
    background-color: #79BE00;
    height: 40px;
    width: 8%;
    font-size: 20px;
    border: #79BE00 solid 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    outline: 0;
    
}
.fotoUser{
    width: 50px;
    height: 50px;
    margin-left: 4%;  
    border-radius: 50%;
}
.FotosServico{
    width: 100%;
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: row;
    font-family: Mont;
    font-weight: 600;
    color: #fbfbfb;
    margin: 10px;
    border-bottom:1px solid #0E261E ;
    height: 10%;
}
.pNomeAutor{
    margin-left: 20px;
    color: #0E261E;
}
.btnEnv:hover{
    border: 1px solid #1E1E1E;
    background-color: #83CF41;
    transition: ease-in-out 0.5s;
    outline: 0;
}
.CaixaMensagem{
    background-color: #79BE00;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 14px;
    font-family: Mont;
    font-weight: 600;
    margin-top:10px ;
    width: fit-content;
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px ;
    
   
    
    
}
.corpoChat2{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0E261E
}

.spamChat{
    font-size: xx-small;
    margin-left: 5px;
    color: #fbfbfb;
}


