



.containerCard{
 
  width: 250px;
  height: 370px;
  border-radius: 10px;
  box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 0.233);
  
}
.imgCard{
  width: 100%;
  border-radius: 10px;
  height: 70%;
}
.tituloCard{
  font-family: PoppinsSemiBold;
  font-size: 20px;
  margin-left: 11px;
}
.pAutor{
  font-family: PoppinsRegular;
  font-size: 20px;
  margin-left: 11px;
}
.containerCard:hover{
  box-shadow:  0px 0px 20px 10px #78be00ad;
  transition: 0.4s ease;
  transform: scale(1.05);
}
.iconCoracao{
  position: relative;
  bottom: 350px;
  width: 32px;
  left: 5px;
  
}
.imgEstrela{
  width: 30px;
}