.containerFooter{
    width: 100%;
   height: 300px;
    background-color: #004B22;
}
.containerOrganizacao{
    position: relative;
    top: 10%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.containerSite{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}  

 .txtMenu{
    font-size: 30px;
    margin-top: 0px;
    font-family: "Lato", sans-serif;
    /* border: 2vh solid red; */
}

.buttonFooter{
    display: block;         /* para quebrar linha como labels */
    color: #ffffff;         /* ou a cor que você quiser */
    text-decoration: none;  /* remove o sublinhado */
    margin: 4px 0;          /* espaço entre os botões */
    font-size: 2vh;
    cursor: pointer;
    transition: color 0.2s ease;
}

.buttonFooter:hover{
    color:#83CF41;
}

.txtMenu:hover{
    color: #83CF41;
}


   
*{
    margin: 0; 
    padding: 0;
}
