@font-face {
    font-family:NunitoBold;
    src: url('./font/Nunito/static/Nunito-Bold.ttf');
}


.div{
    
    height: 100vh;
    background-image: url('./images/bglanding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.spanTitleLanding{
    padding-left: 10%;
   
}
.h1TitleLanding{
    color: #fbfbfb;
    font-family:NunitoBold ;
   backdrop-filter: blur(2px);
   padding: 10px;
   border-radius: 20px;
   font-size: 50px;
}
.h3Landing{
    font-family: PoppinsRegular;
    color: #fbfbfb;
    font-size: 20px;
}
.btnLanding1{
    font-family: PoppinsBold;
    color: #fbfbfb;
    background-color: #2f4b00c2;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    border: #79BE00 2px solid;
    border-radius: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: 0;
}
.btnLanding2{
    
    font-family: PoppinsBold;
    color: #fbfbfb;
    background-color: #79BE00;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 20px;
    border: #79BE00 2px solid;
    border-radius: 40px;
   margin-left: 10px;
   padding-top: 3px;
   padding-bottom: 3px;
   outline: 0;
}
.containerH3{
    margin-top: 0.5%;

    margin-bottom: 4%;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 12px;
}
.btnLanding1:hover{
    background-color: #79BE00;
    transition: 0.4s ease;
    outline: o;

}
.btnLanding2:hover{
    background-color:#5E8A00 ;
    transition: 0.4s ease;
    border: 2px solid #5E8A00;
    outline: 0;

}