.spanH2{
    border-left: 8px solid #79BE00;
    padding-left: 10px;
}
.containerImage{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #2E2E2E;
}
.imgWork{
    width: 50%;
    height: 53vh;
    margin: 0;
    padding: 0;
    
    
    
    
}
.containerLanding3{
    width: 100%;
    min-height: 100vh;
  

}
.containerH2{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
   
}
.spanVerde{
    color:#79BE00 ;

}
.tituloH2{
    font-family: PoppinsBold;
    color: #fbfbfb;
    font-size: 38px;
}
.containerImage2{
  display: flex;
  background-color: #686868;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  
  
}
.containerH2Titulo{
   width: 50%;
   align-items: center;
   justify-content: center;
   display: flex;
   min-height: 50.9vh;
   background-color: #686868;
   
}
.spanH2_2{
 border-left: 8px solid #79BE00;
 padding-left: 10px;
 color: #79BE00;


}
