.modalTest{
        border: none;
        border-radius: 10px;
        width: 25%;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.699);
        transform: translate(140%, -100%); /* Centraliza o diálogo */
        background-color: #fbfbff;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        height: fit-content;
        position: fixed;
}
.iconTrash{
    width: 70px;
    
}
.h1Sair{
    color: #525252;
    font-family:Mont ;
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
}
.h2Sair{
    color: #525252;
    font-family: LatoBold;
    font-size: 20px;
   margin-bottom:20px ;
}
.btnAceitar{
    height: fit-content;
    font-family: Mont;
    font-weight: 800;
    font-size: x-large;
    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #DA1E37;
    color: #fbfbff;
    border-radius:5px ;
    border: none;
    border: 1px solid #DA1E37;
}
.btnNegar{

    height: fit-content;
    font-family: Mont;
    font-weight: 800;
    font-size: x-large;
    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #83CF41;
    color: #fbfbff;
    border-radius:5px ;
    border: none;
    margin: 10px;
    border: 1px solid #83CF41;
    

}
.btnNegar:hover{
    background-color: #fbfbff;
    color: #83CF41;
    border: 1px solid #83CF41;
    transition: linear 0.2s;
}
.btnAceitar:hover{
    background-color: #fbfbff;
    color: #DA1E37;
    border: 1px solid #DA1E37;
    transition: linear 0.2s;

}