.modalTest{
        border: none;
        border-radius: 10px;
        width: 30%;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.699);
        position: fixed; /* Garante que ele fique fora do fluxo normal */
        top: 20%;
        left: -35%;
        transform: translate(-50%, -50%); /* Centraliza o diálogo */
        background-color: #fbfbff;
        padding: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      
      
}
.iconTrash{
    width: 70px;
}
.h1Sair{
    color: #525252;
    font-family:LatoBlack ;
}
.h2Sair{
    color: #525252;
    font-family: LatoBold;
}
.btnAceitar{
    height: fit-content;
    font-family: Mont;
    font-weight: 800;
    font-size: x-large;
    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #DA1E37;
    color: #fbfbff;
    border-radius:5px ;
    border: none;
}
.btnNegar{

    height: fit-content;
    font-family: Mont;
    font-weight: 800;
    font-size: x-large;
    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #83CF41;
    color: #fbfbff;
    border-radius:5px ;
    border: none;

}