.container_page_meu_serviço{
width: 100%;
height: 67vh;
display: flex;
justify-content: center;
}
.conteiner_meu_serviço{
border:#1B4D2C solid 3px;
width: 90%;
height: 100%;
border-radius: 10px;
padding:5px ;

}.meuservico_lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;

  max-height: 80vh; /* limite de altura visível */
  overflow-y: auto; /* ativa a rolagem se passar do limite */
  scroll-behavior: smooth;
}

.poster_meu_servico {
  width: 500px;
  height: 200px;
  display: block; /* remove espaços em branco indesejados */

    background-color: #ffffff;
  border: 2px solid #004B22;
 border-top-right-radius:10px ;
  border-top-left-radius:10px ;


  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  text-align: left;
  display: flex;
  justify-content: center;
}

.meuservico_card:hover {
  transform: scale(1.02);
}

.meuservico_img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.meuservico_titulo {
  font-size: 20px;
  color: #004B22;
  margin: 10px 20px 5px;
  font-family: Mont;
}

.meuservico_descricao {
  font-size: 14px;
  font-family: Mont;
  font-weight: 500;
  margin: 0 20px 10px;
  color: #444;
}

.meuservico_categoria_container {
  margin: 10px 20px 20px;
}

.meuservico_categoria {
  background-color: #83CF41;
  color: #004B22;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 8px;
  font-family: Mont;
  font-weight: 600;
  display: inline-block;
}


.card_meu_servico{
border: purple solid ;
display: flex;
flex-direction: column;
justify-content: center;
 overflow: hidden; /* importante */

}
.modal-editar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-editar-conteudo {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: modalFadeIn 0.3s ease-in-out;
}

.modal-editar-botoes button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes modalFadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}