@font-face {
    font-family:nunito-extra-bold ;
    src: url(./font/Nunito/static/Nunito-ExtraBold.ttf);
}
@font-face {
    font-family:nunito-medium ;
    src: url(./font/Nunito/static/Nunito-MediumItalic.ttf);
}
.container_img_bg{
height: 70vh;
background-image: url('./images/ovelha_bg.svg');
background-repeat: no-repeat;
background-size: 100%;

}
.h1_serviços{
width: fit-content;
border-bottom: solid rgba(121, 190, 0, 1) 5px;
}.espaço_livre{

height: 30vh;
}
.container_barra_pesquisa{

height: 56%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}.h1_serviços{
margin-bottom: 100px;
color: white;
font-size: 50px;
font-family:nunito-medium;
}.inpt_barra_pesquisa{
width: 500px;
height: 60px;
border-radius: 40px;
border:none;
outline: 0;
padding-left: 15px; 
font-size: 22px;


}.inpt_barra_pesquisa::placeholder {
    color: rgb(79, 79, 82); /* Cor desejada */
   padding-left: opx;
font-family:nunito-medium ;
  }
  
  .h1_serviços_dois{
    
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family:nunito-sans;
  margin-left: 2.5%;
margin-top: 20px;
font-weight:500;

}.container_servicos{
border: solid purple;
height: 100vh;
display: flex;
display: flex;
justify-content: space-evenly;
}@font-face {
    font-family:nunito-sans;
    src: url(./font/Nunito_Sans/Nunito-sans-italic.ttf);
}



.img_card{
width: 200px;
height: 300px;

}.sinopse_card{


}.card_serviço{
 width:14%;
 height: fit-content;
 display: flex;
 flex-direction: column;
 align-items: center;
 
 
 border: 1px solid #000;
  word-wrap: break-word; /* Quebra palavras longas */
  overflow-wrap: break-word; /* Alternativa moderna */

}