@font-face {
  font-family: nunito-extra-bold;
  src: url(./font/Nunito/static/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: nunito-medium;
  src: url(./font/Nunito/static/Nunito-MediumItalic.ttf);
}

@font-face {
  font-family: mont;
  src: url(./font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: nunito-sans;
  src: url(./font/Nunito_Sans/Nunito-sans-italic.ttf);
}

/* ----------------- Containers ------------------ */

.container_img_bg {
  height: 70vh;
  background-color: #004B22;
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container_barra_pesquisa {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_servicos {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.container_categorias_servico {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_botao {
  display: flex;
  flex-direction: column;
}

.container_botao button {
  background-color: white;
  border: none;
}

/* ----------------- Títulos ------------------ */

.h1_servicos {
  font-size: 80px;
  color: white;
  font-family: mont;
}

.h1_serviços {
  color: white;
  font-size: 50px;
  font-family: nunito-medium;
}

.h1_serviços_dois {
  color: black;
  font-size: 50px;
  font-family: nunito-sans;
  margin-left: 2.5%;
  margin-top: 20px;
  font-weight: 500;
}

.h1_perquisa {
  margin-left: 20px;
}

/* ----------------- Inputs ------------------ */

.inpt_barra_pesquisa {
  width: 800px;
  height: 90px;
  border-radius: 50px;
  border: none;
  outline: 0;
  padding-left: 15px;
  font-size: 22px;
  margin: 30px;
  background-image: url(./icons/lupa_pesquisa_verde.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: right 30px center;
}

.inpt_barra_pesquisa::placeholder {
  color: rgb(79, 79, 82);
  font-family: nunito-medium;
  font-size: 30px;
}

/* ----------------- Cards e Listas ------------------ */

.lista_serviço {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  height: fit-content;
  flex-wrap: wrap;
}

.card_servico {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 30px;
  word-wrap: break-word;
  white-space: normal;
}

.card_servico img.poster {
  width: 400px;
  height: 300px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  object-fit: cover;
}

.card_servico h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.card_servico p {
  font-size: 14px;
  font-family: Mont ;
  font-weight: 600;
  margin-top: 5px;
}



.span_nFilmes {
  font-size: x-large;
}
.barra_verde {
  border-color: #83CF41;
  background-color: #83CF41;
  width: 20%;
  height: 6px;
  border-radius: 10px;
}
.painel_filtros{


 
  margin: 30px;
  width: 100%;

}.filtrosSelect{

  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px;

}.select_orcamentoServico{
  width:150px;
  height: 40px;
  border-radius: 20px;
  border: #004B22 solid;
  background-color: rgba(0, 0, 255, 0);
  outline: none ;
  box-shadow: none;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMDA0QjIyIiBkPSJtMTIgMTAuOGwtMy45IDMuOXEtLjI3NS4yNzUtLjcuMjc1dC0uNy0uMjc1dC0uMjc1LS43dC4yNzUtLjdsNC42LTQuNnEuMy0uMy43LS4zdC43LjNsNC42IDQuNnEuMjc1LjI3NS4yNzUuN3QtLjI3NS43dC0uNy4yNzV0LS43LS4yNzV6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
background-position: 115px;
font-size: 15px;
padding: 5px;
margin-right: 50px;
font-family: mont;
font-weight: 500;
color: #004B22;
}

.select_opc_servico{
  width:200px;
  height: 40px;
  border-radius: 20px;
  border: #004B22 solid;
  background-color: rgba(0, 0, 255, 0);
  outline: none ;
  box-shadow: none;
  appearance: none;
  background-image:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMDA0QjIyIiBkPSJtMTIgMTAuOGwtMy45IDMuOXEtLjI3NS4yNzUtLjcuMjc1dC0uNy0uMjc1dC0uMjc1LS43dC4yNzUtLjdsNC42LTQuNnEuMy0uMy43LS4zdC43LjNsNC42IDQuNnEuMjc1LjI3NS4yNzUuN3QtLjI3NS43dC0uNy4yNzV0LS43LS4yNzV6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 165px;
  font-size: 15px;
  padding: 5px;
  font-family: mont;
  font-weight: 500;
  color: #004B22;
}

.select_prazo_entrega{
  width:200px;
  height: 40px;
  border-radius: 20px;
  border: #004B22 solid;
  background-color: rgba(0, 0, 255, 0);
  outline: none ;
  box-shadow: none;
  appearance: none;
  background-image:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMDA0QjIyIiBkPSJtMTIgMTAuOGwtMy45IDMuOXEtLjI3NS4yNzUtLjcuMjc1dC0uNy0uMjc1dC0uMjc1LS43dC4yNzUtLjdsNC42LTQuNnEuMy0uMy43LS4zdC43LjNsNC42IDQuNnEuMjc1LjI3NS4yNzUuN3QtLjI3NS43dC0uNy4yNzV0LS43LS4yNzV6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position:165px;
  font-size: 15px;
  padding: 5px;
margin-left: 50px;
font-family: mont;
font-weight: 500;
color: #004B22;
}

option {
  background-color: rgba(255, 255, 255, 0);
background-color: #004b2200;
  font-size: 14px;
  font-family: mont;
  font-weight: 600;
}.categoria_servico_especifico{
 
  background-color: #83CF41;
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
  color: #004B22;
  margin: 5px;

}.titulo_servico{

  font-family: mont;
font-weight: 700;

}.container_cat_servico{
margin-top: 10px;
font-family: mont;
font-weight: 500;
}