@media(min-width: 780px) {
    .divTest{
       display: flex;
       flex-direction: row;
      
        
    }
    
}
.divTest{
   display: flex;
   flex-direction: column;
   
    

}
.image{
    width: 300px;
}
