

.container_all_inputs{
  

width: 100%;
height:70vh;
align-items: center;
justify-content: space-evenly;
display: flex;
justify-content: space-evenly;
padding: 5px;
font-size: 20px;
font-family: mont;
font-weight: 600;
}
.containerTituloServico{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    
   
}
.containerServicos{
    width: 100%;
    height:fit-content;
  background-image: url(./images/img_backgroud_carinha_verde.svg);
background-repeat: no-repeat;
background-position: center;
}
.containerInfoServicos{
    
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

}
.containerInfoServico2{
    height: 100%;
    justify-content: start;
    display: flex;
    flex-direction: column;
   

}
.inptServicos{
   width: 200px;
   width: 350px; 
   background-color: #D9D9D9;
   height: 50px;
   border: none;
   border-radius: 5px;
   
   font-size: 15px;
font-family: mont;
font-weight: 500;
}


.divInputsServico{
    display: flex;
    flex-direction: column;
    align-items: center;

}.text_descrição_servico{
width: 350px;
height: 270px;
padding: 10px;
background-color: #D9D9D9;
border: none;
border-radius: 10px;

font-size: 15px;
font-family: mont;
font-weight: 500;
}


.inpt_titulo_servico{
    width: 350px; 
background-color: #D9D9D9;
height: 50px;
border: none;
border-radius: 5px;

font-size: 15px;
font-family: mont;
font-weight: 500;
}.select_area_servico{

    width: 350px; 
    background-color: #D9D9D9;
    height: 50px;
    border: none;
    border-radius: 5px;
margin: 5px;

font-size: 15px;
font-family: mont;
font-weight: 500;
}

.container_preco_idiomas{


height: 420px;
display: flex;
flex-direction: column;
justify-content: space-around;
}.div_Inputs_servico_descricao{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}.div_Inputs_servico_titulo{

    display: flex;
    flex-direction: column;
    align-items: center;
margin-bottom: 10PX;
}.container_buttons{
    width: 100%;
height: fit-content;

display: flex;
justify-content: space-evenly;
color: white;

}

.botton_edita_servico{
 background-color: #004B22;
width: 350px;
height: 50px;
color: white;
border: none;
border-radius: 5px;
font-size: 25px;
font-family: mont;
font-weight: 550;
}

.button_cria_servico{
    background-color: #004B22;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 5px;
color: white;
font-size: 25px;
font-family: mont;
font-weight: 550;
}
.butonn_cancela_servico{

    background-color:white;
    width: 350px;
    height: 50px;
    border: #004B22 solid;
color: #004B22;
border-radius: 5px;
font-size: 25px;
font-family: mont;
font-weight: 550;
}.h1_titulo_servico{

font-size: 45px;
font-family: mont;
font-weight:700;
color:  #004B22 ;
}.container_h1_titulo_servico{

width: fit-content;
margin: 10px;
display: flex;
flex-direction: column;

align-items: center;
}.div_linha_verde_cadastra_servico{

    border-bottom:#83CF41 solid 8px ;
    width: 90%;
border-radius: 5px;
align-items: center;
}

