:root{
    --cor-1: #686868;
    --cor-2: #2E2E2E;
    --cor-3: #304B00;
    --cor-4: #79BE00;
    --cor-5: #FFDE23;
    --cor-6: #FBFBFB;
}


@font-face {
    font-family: NunitoExtrabold;
    src: url('./font/Nunito/static/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('./font/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: PoppinsRegular;
    src: url('./font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family:PoppinsSemiBold;
    src: url('./font/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family:PoppinsMedium;
    src: url('./font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: NunitoBold ;
    src: url('./font/Nunito/static/Nunito-Bold.tff');
}

.container{
display: flex;
flex-direction: column;
}
@media (min-width: 780px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        

    }
    .spanH1{
        color: var(--cor-4);
        font-size: 40px;
    }
    .cadatroH1{
        color: var(--cor-3);
        font-family: NunitoExtrabold;
        font-size: 40px;
    }
    .imgCadastro{
        width: 45%;       /* Garante que a largura da imagem ocupe 100% da tela */
        height: 100vh;     /* Garante que a altura da imagem ocupe 100% da altura da tela */
        object-fit: cover; /* Faz a imagem cobrir o espaço, mantendo a proporção e sem distorcer */
        display: block;    /* Remove possíveis espaçamentos indesejados abaixo da imagem */
      

    }
    .container_cadastro{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      background-color: var(--cor-6);
      width: 55%;

    }
    .container_inputs{
        display: flex;
        flex-direction: column;
        

    }
    .inpt{
        width: 350px;
        min-height: 40px;
        border-radius: 100px;
        outline: none;
        border: 1.8px solid var(--cor-3);
        margin-bottom: 8%;
        margin-top: 0.5%;
        font-size: medium;
        font-family: PoppinsRegular;
        padding-left: 10px;

    }
    .btnCadastro{
        width: 400px;
        height: fit-content;
        font-size: 25px;
        background-color: var(--cor-3);
        color: var(--cor-6);
        border: none;
        border-radius: 100px;
       padding: 5px;
       font-family:  PoppinsBold;
    }
    .containerLogin{
      margin-left: 70%;
       
      
    }
    .lblCadastro{
        font-family: PoppinsRegular;
        font: 24px;
        margin: 0;
        padding: 0;
    }
    .btnIrLogin{
        font-family: PoppinsSemiBold;
        background-color: var(--cor-3);
        color: var(--cor-6);
       padding-left: 25px;
       padding-right: 25px;
       padding-top: 5px;
       padding-bottom: 5px;
       outline: none;
       border: 1px solid var(--cor-3);
       font-size: medium;
       border-radius: 100px;

    }
    .inpt:focus{
    border: 2px solid var(--cor-4);
    transition: 200ms ease;
    }
    .btnIrLogin:hover{
        background-color: var(--cor-4);
        transition: 0.5s ease;
    }
    .btnCadastro:hover{
        background-color: var(--cor-4);
        transition: 0.5s ease-in-out;

    }
    .inptCheck{
        border: 3px solid var(--cor-3);
        min-width: 20px;
        height: 15px;
        border-radius:5px;
       
    }
    .divCheckBox{
        display: flex;
        width: fit-content;
        align-items: center;
    }
    .spanCheck{
        color: #304B00;
    }
    .pCheck{
        color: var(--cor-4);
        margin-left: 10px;
        font-family:PoppinsMedium ;
    }
   

    
}