


:root{
    --cor-1: #686868;
    --cor-2: #2E2E2E;
    --cor-3: #304B00;
    --cor-4: #79BE00;
    --cor-5: #FFDE23;
    --cor-6: #FBFBFB;
}


@font-face {
    font-family: MontBold;
    src: url('./font/Nunito/static/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: LatoBold;
    src: url('./font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: PoppinsRegular;
    src: url('./font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family:PoppinsSemiBold;
    src: url('./font/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family:PoppinsMedium;
    src: url('./font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: Mont ;
    src: url('./font/Montserrat/Montserrat-VariableFont_wght.ttf');
    
}
@font-face{
    font-family: LatoBlack;
    src:url('./font/Lato/Lato-Black.ttf') ;
}
@font-face {
    font-family: LatoRegular;
    src: url('./font/Lato/Lato-Regular.ttf');
}



@media (min-width: 780px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #004B22;
        

    }
    .spanH1{
        color: var(--cor-4);
        font-size: 40px;
    }
    .cadatroH1{
        color: #fbfbfb;
        font-family: Mont;
        font-size: 40px;
        font-weight: 700;
    }
    
    .container_cadastro{
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      background-color: e;
      width: 55%;
    
    
    }
    .container_inputs{
        display: flex;
        flex-direction: column;
        

    }
    .inpt_nome{

        width: 350px;
        min-height: 40px;
        border-radius: 100px;
        outline: none;
        border: 1.8px solid var(--cor-3);
        margin-bottom: 8%;
        margin-top: 0.5%;
        font-size: medium;
        font-family: Mont;
        padding-left: 10px;
background-image: url(./icons/icon_user.svg);
 background-repeat: no-repeat;
background-size: 27px;
background-position: right 12px center;

}
    .inpt_email{

        width: 350px;
        min-height: 40px;
        border-radius: 100px;
        outline: none;
        border: 1.8px solid var(--cor-3);
        margin-bottom: 8%;
        margin-top: 0.5%;
        font-size: medium;
        font-family: Mont;
        padding-left: 10px;
        background-image: url(./icons/icon_email.svg);
        background-repeat: no-repeat;
       background-size: 27px;
       background-position: right 12px center;
       
    }
    .inpt_senha{

        width: 350px;
        min-height: 40px;
        border-radius: 100px;
        outline: none;
        border: 1.8px solid var(--cor-3);
        margin-bottom: 8%;
        margin-top: 0.5%;
        font-size: medium;
        font-family: Mont;
        padding-left: 10px;
        background-image: url(./icons/icon_senha.svg);
        background-repeat: no-repeat;
       background-size: 25px;
       background-position: right 12px center;
       
    }





/* -----------------------------bottao cadastro pesonalização------------------------- */
.btnCadastro {
    
    background-color: #83CF41;
    --color: #83CF41;
    font-family: inherit;
    display: inline-block;
    width: 400px;
    height: 50px;
    line-height: 50px;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.4s ease-in-out;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #004B22;
    text-align: center;
  font-family: Mont;
  font-weight: 600;
}
  
  .btnCadastro:before {
    content: "";
    position: absolute;
    z-index: -1;
    background:  #004B22;
    width: 200%;
    height: 500%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.6s ease-in-out;
  }
  
  .btnCadastro:hover {
    color:var(--color);
  
}
  
  .btnCadastro:hover:before {
    top: -150%;
  }
  
  .btnCadastro:active:before {
    background: #0E261E;
    transition: background 0s;
  }
  




    .containerLogin{
      margin-left: 70%;
       
      
    }
    .lblCadastro{
        font-family: LatoBold;
        font-size: 21px;
        margin-bottom: 4px;
        margin-left: 10px;
        padding: 0;
        color: #FBFBFB;
        
      
        


    }
    /* -----------------------------bottao ir para login  pesonalização------------------------- */
    .btnIrLogin {
        background-color: #83CF41;
        --color: #83CF41;
        font-family: inherit;
        display: inline-block;
        width: 110px;
        height: 50px;
        line-height: 50px;
        margin: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color 0.4s ease-in-out;
        z-index: 1;
        font-size: 17px;
        border-radius: 6px;
        font-weight: 500;
        color: #004B22;
        text-align: center;
      font-family: Mont;
      font-weight: 600;
    }
      
      .btnIrLogin:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #004B22;
        width: 200%;
        height: 500%;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: all 0.6s ease-in-out;
      }
      
      .btnIrLogin:hover {
        color:var(--color);
      }
      
      .btnIrLogin:hover:before {
        top: -150%;
      }
      
      .btnIrLogin:active:before {
        background:#6cb62b;
        transition: background 0s;
      }
      
    
/* -------------------------------------------------------------------------------------------------- */

    .inpt:focus{
    border: 2px solid var(--cor-4);
    transition: 200ms ease;
    }
   
    
    .inptCheck{
        border: 3px solid #83CF41;
        min-width: 20px;
        height: 17px;
        border-radius:5px;
        background-position: center;
        background-repeat: 0;
        background-image: url('./icons/check.svg');
        
       
    }
    .divCheckBox{
        display: flex;
        width: fit-content;
        align-items: center;
    }
    .spanCheck{
        color: #fbfbfb;
        
    }
    .pCheck{
        color: var(--cor-4);
        margin-left: 10px;
        font-family:LatoRegular;
        font-size: 20px;
    }
 

   
  
    



}

.carrossel-container {
    width: 50vw;  /* Ocupa 50% da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    left: 0; /* Fixa no lado esquerdo */
    top: 0;

  }
  
  .carrossel-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém proporção sem distorcer */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    }
  
  
  
  .swiper_cadastro{
  height: 100vh;
  
  
  
  
  }/* Cor das bolinhas inativas */
.swiper-pagination-bullet {
    background-color:#000000 !important; /* Muda para branco */
    opacity: 0.4; /* Deixa um pouco transparente */
    width: 10px;  /* Largura */
    height: 10px; /* Altura */
}
  
  /* Cor da bolinha ativa */
  .swiper-pagination-bullet-active {
    background-color:#79BE00 !important; /* Muda para vermelho (ou qualquer outra cor) */
    opacity: 1; /* Deixa totalmente visível */
    width: 10px;  /* Largura */
    height: 10px; /* Altura */
}