* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container_user {
    display: flex;
    width: 90%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    
  }
  
  .left-panel {
    width: 25%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #1b4d2c;
    border-radius:10px ;
    justify-content: space-evenly;

  }
  
  
  .right-panel {
    flex: 1;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    
   
  
  }
  
 
  
  /* h1 {
    margin-bottom: 30px;
    color: #1b4d2c;
    font-size: 24px;
    border-bottom: 4px solid #1b4d2c;
    display: inline-block;
    padding-bottom: 5px;
  }
   */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
   */
  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
    width: 40%;
  }
  
  .btn {
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 40%;
  }
  
  .salvar {
    background-color: #1b4d2c;
    color: white;
    border: none;
  }
  
  .salvar:hover {
    background-color: #145123;
  }
  
  .cancelar {
    background-color: transparent;
    border: 2px solid #1b4d2c;
    color: #1b4d2c;
  }
  
  .cancelar:hover {
    background-color: #e6f3eb;
  }
  .containerInptPass{
    display: flex;
    flex-direction: column;
    
  }
  
  .btnShowPasword {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 8px;
  }
  
  .btnShowPasword:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ccc;
    transform: translateY(-7px);
  }
  
  .btnShowPasword:active {
    transform: translateY(-1px);
  }

  .imgOlhos{
    width: 16px;
  }
  .div{
    background-color: rebeccapurple;
height: 30px;
font-size: x-large;
color: white;
align-items: center;
    justify-content: center;
    display: flex;
  }
  .div2{
    height: 30px;
    font-size: x-large;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .optionBtn{
    font-family: Mont ;
    font-weight: 700;
    font-size: x-large;
    background-color: #1b4d2c;
    color: #fbfbfb;
    border: 1px solid #1b4d2c;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 8px; 
  }
  .optionBtn:hover{
    background-color: #83CF41;
    color: #145123;
    transition: ease 0.5s;
  }
  .imgProfile {
    margin-right:10px ;
  
    
  }