* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container_user {
    display: flex;
    width: 900px;
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .left-panel {
    flex: 1;
  }
  
  .left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-panel {
    flex: 1;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .logo {
    
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: #1b4d2c;
  }
  
  /* h1 {
    margin-bottom: 30px;
    color: #1b4d2c;
    font-size: 24px;
    border-bottom: 4px solid #1b4d2c;
    display: inline-block;
    padding-bottom: 5px;
  }
   */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
  }
  
  .btn {
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .salvar {
    background-color: #1b4d2c;
    color: white;
    border: none;
  }
  
  .salvar:hover {
    background-color: #145123;
  }
  
  .cancelar {
    background-color: transparent;
    border: 2px solid #1b4d2c;
    color: #1b4d2c;
  }
  
  .cancelar:hover {
    background-color: #e6f3eb;
  }
  .containerInptPass{
    display: flex;
    flex-direction: column;
    
  }
  
  .btnShowPasword {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 0.9em;
  }
  
  .btnShowPasword:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btnShowPasword:active {
    transform: translateY(-1px);
  }