* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container_user {
    display: flex;
    width: 70%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    
  }
  
  .left-panel {
    width: 25%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #1b4d2c;
    border-radius:10px ;
    justify-content: space-evenly;

  }
  
  
  .right-panel {
    flex: 1;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    
   
  
  }
  
 
  
  /* h1 {
    margin-bottom: 30px;
    color: #1b4d2c;
    font-size: 24px;
    border-bottom: 4px solid #1b4d2c;
    display: inline-block;
    padding-bottom: 5px;
  }
   */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* label {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
   */
  input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
    width: 40%;
  }
  
  .btn {
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 40%;
  }
  
  .salvar {
    background-color: #fbfbfb;
    color: black;
    border: 2px solid #145123;
    font-family: Mont;
    font-weight: 500;

  }
  
  .salvar:hover {
    background-color: #145123;
    color: #fbfbfb;
  }
  
  .cancelar {
    background-color: transparent;
    border: 2px solid #da1e37;
    color: black;
    font-family: Mont;
    font-weight: 500;
  }
  
  .cancelar:hover {
    background-color: #da1e37;
    color: #fbfbfb;
    transition: 0.3s ease;
  }
  .containerInptPass{
    display: flex;
    flex-direction: column;
    
  }
  
  .btnShowPasword {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 8px;
  }
  
  .btnShowPasword:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ccc;
    transform: translateY(-7px);
  }
  
  .btnShowPasword:active {
    transform: translateY(-1px);
  }

  .imgOlhos{
    width: 16px;
  }

  .optionBtn{
    font-family: Mont ;
    font-weight: 700;
    font-size: x-large;
    background-color: #1b4d2c;
    color: #fbfbfb;
    border: 1px solid #1b4d2c;
    padding: 10px;
    border-radius: 2px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 8px; 
  }
  .optionBtn:hover{
    background-color: #83CF41;
    color: #145123;
    transition: ease 0.5s;
  }
  .imgProfile {
    margin-right:10px ;
  
    
  }
  .containerUserProfile{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
  }
  
  .dropbtn {
    font-family: Mont ;
    font-weight: 700;
    font-size: x-large;
    background-color: #1b4d2c;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  background-image: url("./icons/servicosIcon.svg" );
  background-repeat: no-repeat;
background-size:28px ;
background-position: 10px;
  text-align: center;

}
.dropbtn:hover{
  background-color: #83CF41;
    color: #145123;
    transition: ease 0.5s;

}



  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
     width: 100%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #004B22;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
  }
  
  .dropdown-content a:hover {
    background-color: #f4fff0;
    border-bottom: 2px solid #83CF41;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  