*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.PerfilUsuarioRosa-Container{
    border: solid rgb(3, 184, 255) 2px; 
}
.FundoRosa{
    margin-top: -15vh;
    position: absolute; /* Adiciona a propriedade position */
    z-index: -1; /* Coloca a div atrás de outros elementos */
}
.Header-InformacoesUsuarioRosa{

    background-color: #FFD9D9;
    margin-left: 50vh;
    width: 100vh;
    height: 40vh;
    border-radius: 5vh;
    position: relative;
    z-index: 2; /* Garante que o header ficará sobre a div FundoRosa */

}

.Header1-InformacoesUsuarioRosa{
     border: solid rgb(3, 184, 255) 2px;     
    width: 60vh;
    height: 20vh;
   
    margin-left: 35vh;
}

 .NomeUsuario{
    /* border: solid black 2px;    */
    font-family: "Nunito", sans-serif;
    width: 50vh;
    margin-top: 3vh;
    /* background-color: blue; */
    
}
.botoes{
    margin-left: 20vh;
    margin-top: -4vh;
}
.Button-CompartilharUsuarioRosa {
   
    font-family: "Lato", sans-serif;
    display: inline-block;
    align-items: center;
    
    width: 15vh;
    height: 4vh;
    background-color: #000000;
    /* line-height: 2.5em; */
   
    position: relative; /* Necessário para o :before */
    cursor: pointer;
    overflow: hidden; /* Para esconder o :before quando ele sai do botão */
    border: 2px solid#000000; /* A borda do botão */
    transition: color 0.5s; /* Transição suave para a cor do texto */
    z-index: 1;
    font-size: 17px;
    border-radius: 1.5vh;
    font-weight: 500;
    color:#ffffff /* Cor do texto do botão */
}

/* Estilo do pseudo-elemento :before */
.Button-CompartilharUsuarioRosa:before {
    content: "";
    position: absolute;
    z-index: -1; /* Para ficar atrás do botão */
    background: #FFD9D9; /* Cor de fundo do :before */
    border: #000000;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%; /* Começa fora do botão */
    left: 100%; /* Começa fora do botão */
    transition: all 0.7s; /* Transição suave para as mudanças */
}

/* Estilo quando passar o mouse sobre o botão */
.Button-CompartilharUsuarioRosa:hover {
    color: #000000; /* Muda a cor do texto */
}

.Button-CompartilharUsuarioRosa:hover:before {
    top: -30px; /* O :before se move para cima */
    left: -30px; /* O :before se move para a esquerda */
}

/* Estilo quando o botão for pressionado */
.Button-CompartilharUsuarioRosa:active:before {
    border: #000000;
    background: #FFD9D9; /* Muda a cor de fundo do :before */
    transition: background 0s; /* A cor muda instantaneamente */
}
.imgShare{
    width: 3vh;
}
/* .Button-ContratarUsuarioRosa{

    color: rgb(0, 0, 0);
    font-size: 2vh;
    font-family:"Lato", sans-serif;
    border-radius: 1.5vh;
    outline: none;
    cursor: pointer;
    height: 4vh;
    width: 15vh;
    margin-top: 2vh;
    margin-left: 1vh;
    margin-bottom: 2vh;
    background-color: #FFD9D9;
} */

.Button-ContratarUsuarioRosa {
    
    font-family: "Lato", sans-serif;
    display: inline-block;
    align-items: center;
    width: 15vh;
    height: 4vh;
    background-color: #FFD9D9;
    margin-left: 2vh;
    /* line-height: 2.5em; */
   
    position: relative; /* Necessário para o :before */
    cursor: pointer;
    overflow: hidden; /* Para esconder o :before quando ele sai do botão */
    border: 2px solid#000000; /* A borda do botão */
    transition: color 0.5s; /* Transição suave para a cor do texto */
    z-index: 1;
    font-size: 17px;
    border-radius: 1.5vh;
    font-weight: 500;
    color:#000000 /* Cor do texto do botão */
}

/* Estilo do pseudo-elemento :before */
.Button-ContratarUsuarioRosa:before {
    content: "";
    position: absolute;
    z-index: -1; /* Para ficar atrás do botão */
    background: #080808; /* Cor de fundo do :before */
    transition: all 0.7s; /* Transição suave para as mudanças */
    border: #000000;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%; /* Começa fora do botão */
    left: 100%; /* Começa fora do botão */
}

/* Estilo quando passar o mouse sobre o botão */
.Button-ContratarUsuarioRosa:hover {
    color: #fff; /* Muda a cor do texto */
}

.Button-ContratarUsuarioRosa:hover:before {
    top: -30px; /* O :before se move para cima */
    left: -30px; /* O :before se move para a esquerda */
}

/* Estilo quando o botão for pressionado */
.Button-ContratarUsuarioRosa:active:before {
    border: #000000;
    background: #000000; /* Muda a cor de fundo do :before */
    transition: background 0s; /* A cor muda instantaneamente */
}
.Experiencia{
    margin-top: 3vh;
}
.Label-ExperienciaUsuarioRosa{
    /* border: solid black 2px;  */
    font-size: 2vh;
    font-family:"Lato", sans-serif;
    
}
.Label-AnoExperiencia{
    /* border: solid black 2px;  */
    font-size: 2vh;
    font-family:"Lato", sans-serif;
    margin-left: 1vh;
}
.Header2-InformacoesUsuarioRosa{
     border: solid rgb(255, 0, 0) 2px;  
    width: 29vh;
    height: 35vh;
    margin-top: -20vh;
    margin-left: 5vh;
}
.CirculoImagemPerfil{
    margin-top: 3vh;
    
}
.CirculoImagemPerfil img{
    width: 20vh;
}
.Localizacao{
    margin-top: 2vh;
    margin-left: 2vh;
    /* border: solid black 2px; */
    display: flex;
    align-items: center;
}
.iconLocal{
    
    /* border: solid black 2px; */
    width: 4vh;
    height: 4vh;
}
.Label-Pais{
    /* border: solid black 2px;   */
    font-size: 2vh;
    margin-left: 1vh;
    
    font-family: "Lato", sans-serif;
}
.Label-Estado{
     /* border: solid black 2px;   */
    margin-left: 1vh;
    font-size: 2vh;
    font-family: "Lato", sans-serif; 
}

/* .Button-EditarPerfil{
    color: #FBFBFB;
    background-color: #B80093;
    border-radius: 1.5vh;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    height: 4vh;
    width: 15vh;
    margin-left: 7vh;
    margin-top: 2vh;
} */
.Button-EditarPerfil {
   
    font-family: "Lato", sans-serif;
    display: inline-block;
    align-items: center;
    width: 15vh;
    height: 4vh;
    background-color: #B80093;
    /* line-height: 2.5em; */
    margin-top: 3vh;
    margin-left: 2vh;
    position: relative; /* Necessário para o :before */
    cursor: pointer;
    overflow: hidden; /* Para esconder o :before quando ele sai do botão */
    border: none;
    transition: color 0.5s; /* Transição suave para a cor do texto */
    z-index: 1;
    font-size: 17px;
    border-radius: 1.5vh;
    font-weight: 500;
    color:#ffffff /* Cor do texto do botão */
}

/* Estilo do pseudo-elemento :before */
.Button-EditarPerfil:before {
    content: "";
    position: absolute;
    z-index: -1; /* Para ficar atrás do botão */
    background: #780060; /* Cor de fundo do :before */
    border: none;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%; /* Começa fora do botão */
    left: 100%; /* Começa fora do botão */
    transition: all 0.7s; /* Transição suave para as mudanças */
}

/* Estilo quando passar o mouse sobre o botão */
.Button-EditarPerfil:hover {
    color: #ffffff; /* Muda a cor do texto */
}

.Button-EditarPerfil:hover:before {
    top: -30px; /* O :before se move para cima */
    left: -30px; /* O :before se move para a esquerda */
}

/* Estilo quando o botão for pressionado */
.Button-EditarPerfil:active:before {
    border: #000000;
    background: #FFD9D9; /* Muda a cor de fundo do :before */
    transition: background 0s; /* A cor muda instantaneamente */
}


.CategoriasUsuario{
     border: solid rgb(77, 0, 107) 2px;  
    height: 8vh;
    width: 60vh;
    margin-left: 35vh;
    margin-top: -7vh;
    display: flex;
    justify-content: space-between; /* Espaço entre logo e menu */
    align-items: center;
    
    
}
.Button-CategoriaPerfil{
    color: #000000;
    background-color: #FFA3A3;
    font-family: "Lato", sans-serif;
    border-radius: 1.5vh;
    border: none;
    font-size: 2vh;
    height: 4vh;
    width: 18vh;
    margin-left: 2vh;
    display: inline-block;
    
  
}

.hamburguer{
    /* border: solid rgb(183, 0, 255) 2px;  */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.logo-img{
    width: 10vh;
    height: auto;
    cursor: pointer;
}

.menu {
    border-radius: 1.5vh;
    position: fixed;
    top: 12vh;
    right: 7vh;
    width: 18vh;
    height: 25vh;
    background-color: #E6E6E6;
    color: white;
    transform: translateX(100%); /* Inicialmente o menu está fora da tela */
    padding: 20px;
    display: none; /* Menu começa invisível */
}

/* Quando a classe "active" é adicionada, o menu se torna visível */
.menu.active {
    transform: translateX(0); /* Coloca o menu na tela */
    display: block; /* Torna o menu visível */
}

/* Remover bolinhas (ícones de lista) */
.menu ul {
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
}

/* Estilo do link */
.menu a {
    font-size: 2vh;
    color: rgb(0, 51, 8);
    text-decoration: none;
    display: block;
    margin: 10px 0;
    margin-left: 2vh;
    font-family: "Lato", sans-serif;
}


/* CSS DE HOVER: */
.menu a:hover {
    color: #83CF41; /* Muda para a cor vermelha (você pode escolher qualquer cor) */
}

.Container-SobreMim{
    
     /* border: solid rgb(183, 0, 255) 2px;  */
    width: 150vh;
    height: 30vh;
    margin-left: 25vh;
    margin-top: 8vh;
}

.Sobremim{
    font-family: "Montserrat", sans-serif;
    color: #500040;
}
.Texto-Sobremim{
    margin-top: 3vh;
    color: #500040;
    font-family: "Lato", sans-serif;
}

.Container-Projetos{
    /* border: solid rgb(183, 0, 255) 2px; */
    width: 150vh;
    height: 60vh;
    margin-left: 25vh;
    margin-top: 8vh;
}

.Projetos{
    font-family: "Montserrat", sans-serif;
    color: #500040;
}

.Carrossel-Container{
    margin-top: 3vh;
    /* border: solid rgb(88, 13, 8) 2px;  */
    display: flex;
    align-items: center;
    height: 50vh;
}

.Carrossel{
     /* border: solid rgb(255, 111, 243) 2px;  */
    overflow: hidden;
    width: 135vh; /* Largura do carrossel */
}
.imagens{
 display: flex;
transition: transform 0.5s ease;
}  

.imagens img{
   /* border: solid rgb(80, 153, 196) 2px; */
  width: 35vh; /* Largura de cada imagem */
  height: auto;
  margin: 0 5px;
}
.Seta {
    position: relative; /* Necessário para o :before */
    cursor: pointer;
    margin: 2vh;
    overflow: hidden; /* Para esconder o :before quando ele sai do botão */
    border: 2px solid#B80093; /* A borda do botão */
    transition: color 0.5s; /* Transição suave para a cor do texto */
    z-index: 1;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    color: #B80093;
    font-size: 3vh;
      /* Correção: Use 'border' ao invés de 'border-color' */
    outline: none;
    transition: all 0.5s ease;
  }

.Seta:hover {
    background-color: #B80093;  /* Altera a cor de fundo ao passar o mouse */
    color: white;  /* Muda a cor do texto */
    transform: scale(1.1);  /* Aumenta ligeiramente o tamanho do botão */
}

.zap{
    margin-top: 3vh;
    width: 4vh;
    height: 4vh;
}
.insta{
    width: 4vh;
    height: 4vh;
    margin-left: 1vh;
}
.email{
    width: 4vh;
    height: 4vh;
    margin-left: 1vh;
    margin-right: 4vh;
}

.Container-Avaliacoes{
    /* border: solid rgb(80, 153, 196) 2px; */
    margin-top: 8vh;
    height: 75vh;
    width: 150vh;
    margin-left: 25vh;
    margin-bottom: 10vh;
}

.CarrosselComentarios-Container{
    background-color: #FFD9D9;
    margin-top: 3vh;
    border-radius: 4.5vh;
    /* border: solid rgb(88, 13, 8) 2px; */
    display: flex;
    align-items: center;
    height: 50vh;
}

.Comentarios-Container{
    /* border: solid rgb(255, 111, 243) 2px; */
    overflow: hidden;
    width: 150vh; /* Largura do carrossel */
}

.comentarios{
    display: flex;
    transition: transform 0.5s ease;
}
.comentarios img{
   /* border: solid rgb(80, 153, 196) 2px;  */
   width: 65vh; /* Largura de cada imagem */
   height: 25vh;
   margin: 0 5px;
 }

 .SetasComentarios{
    margin-top: 5vh;
    /* border: solid rgb(80, 153, 196) 2px;  */
    margin-left: 70vh;
    width: 15vh;

 }
.SetaComentarios-Esquerda{
    position: relative; /* Necessário para o :before */
    cursor: pointer;
    overflow: hidden; /* Para esconder o :before quando ele sai do botão */
    border: 2px solid#B80093; /* A borda do botão */
    transition: color 0.5s; /* Transição suave para a cor do texto */
    z-index: 1;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    color: #B80093;
    font-size: 3vh;
      /* Correção: Use 'border' ao invés de 'border-color' */
    outline: none;
    transition: all 0.5s ease;
  
 }
 .SetaComentarios-Esquerda:hover{
    background-color: #B80093;  /* Altera a cor de fundo ao passar o mouse */
    color: white;  /* Muda a cor do texto */
    transform: scale(1.1);  /* Aumenta ligeiramente o tamanho do botão */
 }

.SetaComentarios-Direita{
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    margin-left: 2vh;
    color: #E6E6E6;
    background-color: #B80093;
    border: none;
    font-size: 3vh;
    transition: all 0.5s ease;
}

.SetaComentarios-Direita:hover{
    background-color: #E6E6E6;  /* Altera a cor de fundo ao passar o mouse */
    color: #B80093;  /* Muda a cor do texto */
    border: 2px solid#B80093;
    transform: scale(1.1);  /* Aumenta ligeiramente o tamanho do botão */
 }