.Container-Um {
    width: 40vh;
    /* border: solid; */
}

.fotoUsuarioVisu {
    margin-top: 5vh;
}

.DivLocalidade {
     border: solid; 
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 30vh;
    height: 5vh;
    margin-top: 25vh;
    margin-left: 8vh;
}

.LocalidadeFont {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}

.buttonOutraTela {
    margin-top: 8vh;
    margin-left: -33vh;/* Corrigido: só um margin-left */
    width: 30vh;
    height: 4vh;
    background-color: #FFD9D9;
    --color: #CE499C;
    font-family: Mont, inherit;
    display: inline-block;
    line-height: 1.5vh;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0.3vh solid var(--color);
    transition: color 0.4s ease-in-out;
    z-index: 1;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: 600;
    color: #CE499C;
    text-align: center;
}

.buttonOutraTela:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #CE499C;
    width: 200%;
    height: 500%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.buttonOutraTela:hover {
    color: #FFD9D9;
    background-color: #FFD9D9;
}

.buttonOutraTela:hover:before {
    top: -150%;
}

.buttonOutraTela:active:before {
    background: #CE499C;
    transition: background 0s;
    color: #fbfbfb;
}

.Container-um {
    /* border: solid;  */
    margin-top: 5vh;
    margin-left: -25vh;
    margin-right: 5vh;
    width: 75vh;
    height: 35vh;
}

.NameH1 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.IconsContainer {
    width: 20vh;
    /* border: solid 2px; */
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 1vh; /* Espaçamento horizontal entre os itens */
}

.ButonContainer {
    margin-left: 21vh;
    margin-top: -7vh;
}

.CompartilharButton {
    width: 20vh;
    height: 4vh;
    margin-top: 2vh;
    background-color: #CE499C;
    --color: #CE499C;
    font-family: Mont, inherit;
    display: inline-block;
    line-height: 1.5vh;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0.3vh solid var(--color);
    transition: color 0.4s ease-in-out;
    z-index: 1;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: 600;
    color: #FFD9D9;
    text-align: center;
}

.CompartilharButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #FFD9D9;
    width: 200%;
    height: 500%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.CompartilharButton:hover {
    color: #CE499C;
    background-color: #CE499C;
}

.CompartilharButton:hover:before {
    top: -150%;
}

.CompartilharButton:active:before {
    background: #CE499C;
    transition: background 0s;
    color: #fbfbfb;
}

.TextContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.TextUni {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    color: black;
}

.AreaText {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
    color: black;
}

.DadosTransferidos {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: black;
}

.ConatineSobremim {
    margin-top: 10vh;
    margin-left: 48vh;
    display: flex;
    flex-direction: column;
    gap: 1vh; /* Corrigido para valor válido */
}

.h1Sobremim {
    color: #500040;
    font-size: 3vh;
    font-family: "Lato", sans-serif;
}

.h1Formulario {
    margin-top: 1vh;
    background-color: #FBFBFB;
    font-size: 2vh;
    border: none;
    width: 120vh;
    height: 15vh;
    color: #500040;
}
