.Container-Portfolios{
    background-color: #004B22;
    width: 100%;      
    height: 100%;    
    margin: 0;         
    padding: 0; 
    border: #52f099 solid;       
}
.FormulárioPortfolios{
    background-color: rgb(242, 249, 255);
    margin-top: 30vh;
    margin-left: 5vh;
    margin-right: 5vh;
    height: 100vh;
    border-radius: 5vh ;
}