.Container-Um {
    width: 40vh;
    /* border: solid; */
}

.fotoUsuarioVisu {
    margin-top: 5vh;
}

.DivLocalidade {
     /* border: solid;  */
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 30vh;
    height: 5vh;
    margin-top: 25vh;
    margin-left: 8vh;
}

.LocalidadeFont {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}

.buttonOutraTela {
    margin-top: 10vh;
    margin-left: -33vh;/* Corrigido: só um margin-left */
    width: 30vh;
    height: 4vh;
    background-color: #DBDBDB;
    font-family: Mont, inherit;
    display: inline-block;
    line-height: 1.5vh;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0.3vh solid #00501b;
    transition: color 0.4s ease-in-out;
    z-index: 1;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: 600;
    color: #00501b;
    text-align: center;
}

.buttonOutraTela:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #00501b;
    width: 200%;
    height: 500%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.buttonOutraTela:hover {
    color: #DBDBDB;
    background-color: #DBDBDB;
}

.buttonOutraTela:hover:before {
    top: -150%;
}

.buttonOutraTela:active:before {
    background: #00501b;
    transition: background 0s;
    color: #DBDBDB;
}

.Container-um {
    /* border: solid;  */
    margin-top: 5vh;
    margin-left: -25vh;
    margin-right: 5vh;
    width: 75vh;
    height: 35vh;
}

.NameH1 {
    font-family: "Montserrat", sans-serif;
    color: black;
}

.IconsContainer {
    width: 20vh;
    /* border: solid 2px; */
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 1vh; /* Espaçamento horizontal entre os itens */
}

.ButonContainer {
    margin-left: 21vh;
    margin-top: -7vh;
}

.CompartilharButton {
    width: 20vh;
    height: 4vh;
    margin-top: 2vh;
    background-color: #00501b;
    --color: #00501b;
    font-family: Mont, inherit;
    display: inline-block;
    line-height: 1.5vh;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 0.3vh solid #00501b;
    transition: color 0.4s ease-in-out;
    z-index: 1;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: 600;
    color: #DBDBDB;
    text-align: center;
}

.CompartilharButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #DBDBDB;
    width: 200%;
    height: 500%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.CompartilharButton:hover {
    color: #00501b;
    background-color: #00501b;
}

.CompartilharButton:hover:before {
    top: -150%;
}

.CompartilharButton:active:before {
    background: #00501b;
    transition: background 0s;
    color: #DBDBDB;
}

.TextContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.TextUni {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    color: black;
}

.AreaText {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2vh;
    color: black;
}

.DadosTransferidos {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    color: black;
}

.ConatineSobremim {
    margin-top: 10vh;
    margin-left: 48vh;
    display: flex;
    flex-direction: column;
    gap: 1vh; /* Corrigido para valor válido */
}

.h1Sobremim {
    color: #500040;
    font-size: 3vh;
    font-family: "Lato", sans-serif;
}

.h1Formulario {
    margin-top: 1vh;
    background-color: #FBFBFB;
    font-size: 2vh;
    border: none;
    width: 120vh;
    height: 15vh;
    color: #500040;
}


/* BUTTON OUTRA ROSA */

.buttonOutra-rosa{
    background-color: #FFD9D9;
    border: 0.3vh solid #CE499C;
    color: #CE499C;
}

.buttonOutra-rosa:before{
    background-color: #CE499C;
}

.buttonOutra-rosa:hover {
    color: #FFD9D9;
    background-color: #FFD9D9;
}

.buttonOutra-rosa:hover:before {
    top: -150%;
}

.buttonOutra-rosa:active:before {
    background: #CE499C;
    transition: background 0s;
    color: #FFD9D9;
}


.buttonCompartilhar-rosa {
    background-color: #CE499C;
    --color: #CE499C;
    border: 0.3vh solid #CE499C;
    color: #FFD9D9;

}

.buttonCompartilhar-rosa:before {
    background: #FFD9D9;
}

.buttonCompartilhar-rosa:hover {
    color: #CE499C;
    background-color: #CE499C;
}

.buttonCompartilhar-rosa:hover:before {
    top: -150%;
}

.buttonCompartilhar-rosa:active:before {
    background: #CE499C;
    transition: background 0s;
    color: #FFD9D9;
}

/* BUTTON OUTRA azul */

.buttonOutra-azul{
    background-color: #BFE0FF;
    border: 0.3vh solid #0033FF;
    color: #0033FF;
}

.buttonOutra-azul:before{
    background-color: #0033FF;
}

.buttonOutra-azul:hover {
    color: #BFE0FF;
    background-color: #BFE0FF;
}

.buttonOutra-azul:hover:before {
    top: -150%;
}

.buttonOutra-azul:active:before {
    background: #0033FF;
    transition: background 0s;
    color: #BFE0FF;
}


.buttonCompartilhar-azul {
    background-color: #0033FF;
    --color: #0033FF;
    border: 0.3vh solid #0033FF;
    color: #BFE0FF;

}

.buttonCompartilhar-azul:before {
    background: #BFE0FF;
}

.buttonCompartilhar-azul:hover {
    color: #0033FF;
    background-color: #0033FF;
}

.buttonCompartilhar-azul:hover:before {
    top: -150%;
}

.buttonCompartilhar-azul:active:before {
    background: #0033FF;
    transition: background 0s;
    color: #BFE0FF;
}