*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Button-ContratarUsuarioVerde {
    
    font-family: "Lato", sans-serif;
    display: inline-block;
    align-items: center;
    width: 15vh;
    height: 4vh;
    background-color: #E6E6E6;
    margin-left: 2vh; 
    position: relative; 
    cursor: pointer;
    overflow: hidden; 
    border: 2px solid#000000; 
    transition: color 0.5s; 
    z-index: 1;
    font-size: 17px;
    border-radius: 1.5vh;
    font-weight: 500;
    color:#000000 
}

.Button-ContratarUsuarioVerde:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #080808;
    transition: all 0.7s; 
    border: #000000;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%; 
    left: 100%; 
}

.Button-ContratarUsuarioVerde:hover {
    color: #fff; 
}

.Button-ContratarUsuarioVerde:hover:before {
    top: -30px; 
    left: -30px; 
}

.Button-ContratarUsuarioVerde:active:before {
    border: #000000;
    background: #000000; 
    transition: background 0s; 
}

/* ----------------------------------------------
   CONTAINER AVALIAÇÕES
   ---------------------------------------------- */

.DeixarAvaliacaoVerde{
    width: 50vh;
    margin-left: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #004B22;
    font-size: 2.8vh;
    text-align: right;
}
.CliqueiAquiVerde{
    width: 50vh;
    margin-left: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #83CF41;
    font-size: 2.8vh;
    text-align: right;
    border: none;
}
.CliqueiAquiVerde:hover{
    color: #004B22;
}

  
  .Comentarioverde {
    margin-left: 5vh;
    width: 50vh;
    height: 20vh;
    margin-right: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 3.5vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
.Comentarioverde p {
    font-size: 1.2em;
    color: #004B22;
    margin: 2vh;
    text-align:left;
    
    
}